.Dictionary {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.Dictionary p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: rgba(95, 158, 160, 0.089);
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 8px 8px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 55%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5px;
}
